* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-heading: "Staatliches", cursive;
  --ff-body: "Palanquin", sans-serif;

  --hue: 226;
  --bg-body: hsl(var(--hue), 100%, 97%);
  --bg-header: hsl(var(--hue), 17%, 62%);
  --bg-label: hsl(var(--hue), 100%, 90%);

  --fc-body: hsl(var(--hue), 84%, 12%);
}

header {
  padding-top: 3.2rem;
  background: var(--bg-header);
  height: 27.9rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

header img {
  height: 13.7rem;
  width: auto;
}

header .faixa {
  bottom: 3rem;
  width: 100%;

  background: #cbc0d3;

  height: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

header .faixa h1 {
  font-family: var(--ff-heading);
  color: white;

  font-size: 4rem;
  line-height: 3.4rem;

  letter-spacing: 0.05rem;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

main {
  padding: 0 3.2rem 6rem;
  background: var(--bg-body);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

main .texto {
  margin: 2.2rem auto;

  display: flex;
  align-items: center;
}

main p {
  font-family: var(--ff-body);
  color: var(--fc-body);
  font-size: 1.4rem;

  line-height: 15px;

  text-align: center;
}

.card {
  position: relative;
}

.card img {
  border-radius: 2rem;
}

.card .label {
  background-color: var(--bg-label);
  width: 11rem;
  height: 3.5rem;
  border-radius: 2rem;

  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
}

.label h2 {
  text-transform: uppercase;

  color: hsla(232, 17%, 35%, 1);
  font-family: var(--ff-heading);
  font-size: 2rem;
  
  line-height: 3.4rem;
  text-align: center;
  letter-spacing: 0.05em;
}
